# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment folders
env/
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Log files
*.log

# Data files
*.pkl
*.joblib

# Operating system files
.DS_Store
Thumbs.db

src/textsummarize/